<p>Edit <%= link_to "Patients", "/admin_patients" %></p>
<p>Edit <%= link_to "Doctors", "/admin_doctors" %></p>
<p>Edit <%= link_to "Appointments", "/admin_appointments" %></p>
<p>Edit <%= link_to "Clinics", "/admin_clinics" %></p>
<p>Edit <%= link_to "Doctor-Clinic", "/admin_doc_cli" %></p>